 <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Filipino Recipe Book</title>
</head>
<body>
    <h1>Filipino Recipes</h1>
    <a href="/add">Add New Recipe</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(item => { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.description %></td>
                    <td><%= item.date_created %></td>
                    <td>
                        <a href="/edit/<%= item.id %>">Edit</a>
                        <form action="/<%= item.id %>" method="POST" style="display:inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>

